.valentine-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ffd6e0, #ffeef3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

@keyframes floatHearts {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-120%);
  }
}

.card {
  background: white;
  padding: 30px 80px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
  position: relative;
}

.lover_name {
  font-size: 42px;
  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-style: normal;
}

.details {
  p {
    font-size: 36px;
    font-family: 'Eagle Lake', serif;
    font-weight: 400;
    font-style: normal;
  }
}
.animi {
  p {
    padding-left: 10px;
    font-size: 30px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;
}

button {
  padding: 10px 50px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.yes-btn {
  background: #ff4d6d;
  color: white;
  margin-right: 40px;
}
.yes-btn.full-width {
  width: 100%;
  margin-right: 0;
}

.yes-btn:hover {
  transform: scale(1.1);
}

.no-btn {
  background: white;
  border: 2px solid #ccc;
  color: #ff4d6d;
}
.product-list-container {
  position: relative;
  overflow: hidden;
}

.heart-list-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.heart-text {
  position: absolute;
  top: -10%;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 77, 109, 0.5);

  animation: fall 10s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
.second-card {
  background-color: #fff;
  padding: 40px 100px;
  border-radius: 5px;
  text-align: center;
  z-index: 9;

  font-family: 'Eagle Lake', serif;
  font-weight: 400;
  font-style: normal;
  .yey {
    font-size: 30px;
  }
  .happy {
    font-size: 20px;
  }
  .loveu {
    font-size: 40px;
  }
}
@media (width <= 576px) {
  .valentine-container {
    .card {
      padding: 20px 20px;
      .lover_name {
        font-size: 25px;
        font-weight: 500;
      }
      .content {
        .details {
          p {
            font-size: 20px;
          }
        }
        .animi {
          p {
            font-size: 20px;
          }
        }
      }
      .buttons {
        button {
          padding: 7px 35px;
          font-size: 15px;
        }
      }
    }
    .second-card {
      padding: 20px 30px;
      .yey {
        font-size: 20px;
      }
      .happy {
        font-size: 15px;
      }
      .loveu {
        font-size: 25px;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .valentine-container {
    .card {
      padding: 20px 70px;
      .lover_name {
        font-size: 30px;
        font-weight: 500;
      }
      .content {
        .details {
          p {
            font-size: 25px;
          }
        }
        .animi {
          p {
            font-size: 20px;
          }
        }
      }
      .buttons {
        button {
          padding: 7px 60px;
          font-size: 18px;
        }
      }
    }
    .second-card {
      padding: 20px 30px;
      .yey {
        font-size: 20px;
      }
      .happy {
        font-size: 20px;
      }
      .loveu {
        font-size: 30px;
      }
    }
  }
}
