<div class="valentine-container" #container>
  @if (showScheme()) {
    @if (!isYesClicked) {
      <div class="card animate__animated animate__fadeIn" #card>
        <p class="lover_name">Khushi</p>
        <div class="d-flex align-items-center content">
          <div class="details">
            <p>will you be my Valentine?</p>
          </div>
          <div class="animi">
            <p class="animate__animated animate__heartBeat animate__infinite">❤️</p>
          </div>
        </div>

        <div class="buttons">
          <button class="yes-btn" (click)="playSound()" [class.full-width]="isLastNoMessage">
            YES
          </button>
          @if (!isLastNoMessage) {
            <button #noBtn class="no-btn" (click)="changeNoText()">{{ noButtonText }}</button>
          }
        </div>
      </div>
    } @else {
      <div class="second-cards" (scroll)="onScroll($event)">
        <div class="all-content">
          <app-cele-happy></app-cele-happy>
          <app-lines></app-lines>
        </div>
        @for (day of valentineDays; track $index) {
          <div
            class="w-100 text-center d-flex align-items-center justify-content-center"
            [ngSwitch]="day.component"
          >
            @if (day.past && !day.show) {
              <button class="btn-day" (click)="showDay(day)">
                {{ day.name }}
              </button>
            }
            <!-- @if (day.show) { -->
            <div class="w-100 gap-3 allcompo">
              <app-rose-day *ngSwitchCase="'rose'"></app-rose-day>
              <app-propose-day *ngSwitchCase="'propose'"></app-propose-day>
              <app-chocolate-day *ngSwitchCase="'chocolate'"></app-chocolate-day>
              <app-teddy-day *ngSwitchCase="'teddy'"></app-teddy-day>
              <app-promise-day *ngSwitchCase="'promise'"></app-promise-day>
              <app-hug-day *ngSwitchCase="'hug'"></app-hug-day>
              <app-kiss-day *ngSwitchCase="'kiss'"></app-kiss-day>
              <app-valentine-day *ngSwitchCase="'valentine'"></app-valentine-day>
            </div>
            <!-- } -->
          </div>
        }
        <div class="scroll-down-arrow" [class.hidden]="!showArrow"></div>
      </div>
    }
  }
</div>
