<div class="valentine-container" #container>
  <div class="heart-list-container">
    <div class="heart-list-container">
      @for (heart of heartList; track $index) {
        <span
          class="heart-text"
          [style.left]="heart.left"
          [style.animation-delay]="heart.animationDelay"
          [style.font-size]="heart.fontSize"
          >❤️</span
        >
      }
    </div>
  </div>

  @if (showScheme()) {
    @if (!isYesClicked) {
      <div class="card animate__animated animate__fadeIn" #card>
        <p class="lover_name">Khushi</p>
        <div class="d-flex align-items-center content">
          <div class="details">
            <p>will you be my Valentine?</p>
          </div>
          <div class="animi">
            <p class="animate__animated animate__heartBeat animate__infinite">❤️</p>
          </div>
        </div>

        <div class="buttons">
          <button class="yes-btn" (click)="playSound()" [class.full-width]="isLastNoMessage">
            YES
          </button>
          @if (!isLastNoMessage) {
            <button #noBtn class="no-btn" (click)="changeNoText()">{{ noButtonText }}</button>
          }
        </div>
      </div>
    } @else {
      <div class="second-card">
        <p class="yey">❤️ Yay! ❤️</p>
        <p class="happy">I'm so happy to be your Valentine!</p>
        <img src="../../../../assets/dudu-dudu-bubu.gif" alt="" />
        <p class="loveu">I Love You</p>
      </div>
    }
  }
</div>
