<div class="promis">
  <div class="content">
    <h1 class="title">Happy Promise Day, Khushi ❤️</h1>
    <!-- <div class="heart"></div> -->
    <p class="subtitle" *ngIf="!showPromises">I promise to be your biggest supporter.</p>

    <div class="promises" *ngIf="showPromises">
      <div class="single-promise">
        <p>{{ getCurrentPromise() }}</p>
        <small class="promise-counter"
          >Promise {{ currentPromiseIndex + 1 }} of {{ promises.length }}</small
        >
      </div>
    </div>

    <button class="promise-btn" (click)="onShowPromisesClick()">
      {{ getButtonText() }}
    </button>
  </div>
</div>
