@import '../../../shared/styles/valentine-shared.scss';

.valentine-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.valentine-container {
  @include valentine-container;
}

/* Banner */
.banner {
  position: relative;
}

.title-1 {
  @include valentine-title;
}
// Additional decorative elements
.chocolate-box {
  right: -36px;
  bottom: -12px;
  position: absolute;
  img {
    width: 80px;
    height: auto;
  }
}

.paper-heart {
  left: -70px;
  z-index: 1;
  top: -235px;
  position: absolute;
  img {
    width: 550px;
    height: auto;
  }
}

.arrow-btn {
  position: absolute;
  bottom: 40px;
  left: 70%;
  img {
    width: 80px;
    height: auto;
  }
}

.letter-heart-bg {
  position: absolute;
  top: 443px;
  z-index: 999;
  left: -63px;
}

/* Floating hearts */
.hearts span {
  @include floating-hearts-base;
}

/* Random positions */
.hearts span:nth-child(1) {
  left: 10%;
}
.hearts span:nth-child(2) {
  left: 25%;
}
.hearts span:nth-child(3) {
  left: 40%;
}
.hearts span:nth-child(4) {
  left: 60%;
}
.hearts span:nth-child(5) {
  left: 75%;
}
.hearts span:nth-child(6) {
  left: 85%;
}

@media (width <= 576px) {
  .paper-heart {
    img {
      width: 445px;
      height: auto;
    }
  }
  .title-1 {
    padding: 20px;
    h1 {
      font-size: 30px;
      font-weight: bold;
    }

    p {
      margin: 5px 0 0;
      font-size: 22px;
    }
  }
  .chocolate-box {
    right: -28px;
    // top: 90px;
  }
}
.arrow-btn {
  position: absolute;
  bottom: 40px;
  left: 70%;

  img {
    width: 80px;
    height: auto;
  }
}
