<div class="valentine-day">
  <div class="valentine-container d-flex flex-column align-items-center justify-content-center">
    <div class="hearts">
      <span *ngFor="let h of hearts"></span>
    </div>

    <div class="banner">
      <div class="paper-heart">
        <img
          src="../../../../assets/paper-heart-paper-banner-party-banner-happy-valentine-s-day-love-card-happy-birthday-banner_190024-1439-removebg-preview.png"
          alt=""
        />
      </div>
      <div class="title-1">
        <h1>Happy Valentine’s Day</h1>
        <p>My Love ❤️</p>
      </div>
      <div class="chocolate-box">
        <img
          src="../../../../assets/png-transparent-chocolate-chocolate-heart-shaped-red-removebg-preview.png"
          alt=""
        />
      </div>
    </div>
    <div>
      <div>
        <img
          src="../../../../assets/325df4a473a66bad8fc759ca572636d1-removebg-preview.png"
          alt=""
        />
      </div>
      <div></div>
    </div>
  </div>
</div>
